*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #fefae0;
    padding: 20px;
    margin: auto;
}

header {
    background-color: #d3b17d;
    padding: 20px;
    text-align: center;
    border: outset;
    border-color: #a17528;
  }

h1 {
    font-size: 2.5rem;
    color: #7c5105;
    border: dashed;
    border-color: #e9edc9;
  }

h2 {
    background-color: #d3b17d;
    padding: 10px;
    text-align: center;
    color: #945206;
    border: inset;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }