*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #fefae0;
    padding: 10px;
    margin: auto;
    background-color: #a17528;
}

header {
    background-color: #d3b17d;
    padding:15px;
    text-align: center;
    border: double;
    border-color: #ca840c;
    cursor: pointer;
  }

h1 {
    font-size: 2.5rem;
    color: #7c5105;
    border: outset;
    border-color: rgb(168, 110, 2);
    margin: 25px 100px;
  }

h2 {
    background-color: #d3b17d;
    padding: 10px;
    text-align: center;
    color: #945206;
    border: inset;
  }

p {
    font-size: 1.1rem;
    line-height: 1.6;
    background-color: #d3b17d ;
    border: 4mm ridge #fc952099;
    padding: 10px;
  }

.button {
    background-color: #a89f7d;
    padding: 10px;
    margin: 5px 5px ;
    border: dotted;
    border-radius: 25px;
    cursor: pointer;
    width: auto;
    height: 3rem;
    display: inline-block;
}