*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #fefae0;
    padding: 20px;
    margin: auto;
}

header {
    background-color: #a17737;
    padding: 20px;
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
    color: #241804;
    border: outset;
    border-color: #241804;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }